$baseWidth: 1920;
$baseFont: 29;
$basePadding: 30;
$baseColSize: 155;
$baseTabFont: 29;
$baseMobileFont: 29;
$baseTabWidth: 1024;
$baseMobileWidth: 575;

$bgColor: #f8f8f4;
$textColor: #030303;
$secColor : #7E7E7C;