$baseWidth: 1920;
$baseHeight: 1080;
$baseFont: 29;
$basePadding: 30;
$baseColSize: 155;
$baseTopMargin: 90;
$baseTabFont: 29;
$baseMobileFont: 29;
$baseTabWidth: 1024;
$baseMobileWidth: 575;

$bgColor: #1E1E1E;
$textColor: #B3B5A9;
$secColor : #696A64;